<div class="all">
  <div class="container the-page">
    <h1 class="text-center">ASK PAGE</h1>
    <form action="answer" class="text-center">
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
</div>
